
    <title>Profile</title>
        <aside class="profile-card">

            <header>
                <div><a href="/delete" class="btn btn-default">Delete Account</a></div>

                <br/><br/>
                <div><a href="/profile/build" class="btn btn-default">EDIT</a></div>

                <br/><br/><br/>
                <h1><%=kukiusername%></h1>
                <br/>
                <h2><%=kukiname%> <%=kukisurname%></h2>
                    <br/><br/>
                <div class="profile-bio">

                    <p><%=kukidescription%></p>

                </div>


            </header>


            <ul class="profile-social-links">


                <li>
                    <a href="<%=kukiinstagram%>">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png">
                    </a>
                </li>


                <li>
                    <a href="<%=kukifacebook%>">
                        <img src="https://tr.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png">
                    </a>
                </li>

                <%console.log('profile sayfası açıldı.')%>
            </ul>

        </aside>

